.date{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}

.income-header{
  text-align: center;
}

.income_contents{
  margin: 0 auto;
}

.expense-header{
  text-align: center;
}